@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600&display=swap");

:root {
  --primary-color: #f2a259;
  --white-color: #ffffff;
  --dark-color: #302e2e;
  --dark-color-50: #494646;
  --about-bg-color: #f9f9f9;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form-control,
.btn,
.form-select {
  box-shadow: none !important;
}

body {
  background-color: var(--bs-gray-100);
  font-family: "Baloo Bhai 2", cursive;
  overflow-x: hidden;
}

.section {
  padding: 5rem 0;
}

/*---------------------------------------
     GENERAL               
  -----------------------------------------*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  width: 100%;
}
p {
  font-size: 1.2em;
}
a {
  font-weight: normal;
  text-decoration: none;
  transition: all 300ms ease;
}

a:hover,
a:active,
a:focus {
  color: var(--primary-color);
  outline: none;
  text-decoration: none;
}

.custom-btn {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  margin-right: 0.78rem;
  transition: all 0.5s ease !important;

  &:hover {
    background-color: var(--primary-color);
    color: var(--white-color) !important;
    border-color: var(--primary-color) !important;
  }
}

.btn-primary, .btn-primary[disabled] {
  background-color: var(--primary-color);
  border-color: var(--primary-color);

  &:hover {
    background-color: darken(#f2a259, 5%);
    border-color: transparent;
  }
}

/*---------------------------------------
     MENU             
  -----------------------------------------*/
.navbar {
  background: var(--dark-color);
  padding: 1rem;
  transition: all 0.5s ease;

  .router-link-exact-active {
    color: var(--primary-color) !important;
  }

  .nav-toggler {
    display: none;
  }

  .navbar-brand {
    img {
      width: 140px;
    }
  }
  .nav-btn {
    background-color: var(--dark-color-50);
    color: var(--white-color);
  }

  .navbar-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    .navbar-nav {
      flex-direction: row;
      margin-right: 0.4rem;
      margin: 0;

      .nav-item {
        padding: 0 0.5rem;
        .nav-link {
          color: var(--bs-white);
        }
      }
    }

    .form {
      position: relative;

      .form-control {
        padding-right: 3rem;
        transition: 300ms ease;
        width: 0;
        visibility: collapse;
      }
      .form-control:focus,
      .form-control:focus ~ .btn {
        border-color: var(--bs-primary);
      }

      .btn {
        position: absolute;
        z-index: 1;
        right: 0;
        width: 50px;
        border: none;
        border-radius: 0;
        transition: 300ms ease;

        .bi {
          color: #c4c4c4 !important;
          font-size: 1.2em !important;
        }
      }
    }
  }
}

/*---------------------------------------
     HERO              
  -----------------------------------------*/

.hero {
  background-image: url("../images/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
  position: relative;
  padding-bottom: 1rem;

  .caption {
    color: var(--bs-gray-200);
  }
  .hero-text {
    color: var(--white-color);
    text-transform: capitalize;
  }
  .outline-light {
    border-color: var(--white-color);
    color: var(--white-color);
  }
}
/*---------------------------------------
     Feature               
  -----------------------------------------*/

.feature {
  background-color: var(--dark-color);
  min-height: 200px;
  width: 100%;
  color: var(--white-color);
  padding: 1.5rem 1rem;

  .vertical-divider {
    border-right: 1px dotted var(--bs-gray-600);
    height: inherit;
    width: 10px;
  }
  .paragraph {
    font-size: 1.1em;
    color: var(--bs-gray-400);
  }
}

/*---------------------------------------
      ABOUT           
  -----------------------------------------*/
.description{
   max-width: 1000px;
  margin: auto;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.07);
}

.about {
  background: var(--bs-white);
  img {
    max-width: 300px;
    width: 100%;
  }
  .d-flex {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/*---------------------------------------
     FOOTER              
  -----------------------------------------*/

.site-footer {
  background-color: var(--dark-color);
  padding: 2rem;
  color: var(--bs-gray-100);
  font-size: 1.2em;
  text-transform: capitalize;
}

.site-footer a {
  color: var(--p-color);
  font-weight: var(--font-weight-light);
}

.site-footer p {
  font-size: var(--base-font-size);
}

/*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0.5rem;
  margin: 5px 0 0 0;
  display: flex;
  align-items: center;
}

.social-icon li {
  display: inline-block;
  list-style: none;
  margin-right: 0.5rem;
}

.social-icon li a {
  text-decoration: none;
  display: inline-block;
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-bold);
  margin: 5px 10px;
  text-align: center;
}

.social-icon li a:hover {
  color: var(--primary-color);
}

/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

@media screen and (max-width: 992px) {
  .navbar {
    .nav-toggler {
      display: block;
      padding: 0.5rem 1rem;
      position: relative;

      span {
        position: absolute;
        top: 0;
        right: 0;
        height: 3px;
        width: 100%;
        background-color: var(--bs-gray-400);
        border-radius: 6px;
        transition: 300ms ease;

        &::before,
        &::after {
          content: "";
          position: absolute;
          margin-top: 0.5rem;
          background-color: inherit;
          height: inherit;
          right: inherit;
          width: 70%;
          border-radius: inherit;
        }

        &::after {
          width: 90%;
          margin-top: 1rem;
        }
      }

      &.active {
        span {
          width: 70%;
          transform: translateY(10px);
          &::after,
          &::before {
            width: 0;
          }
        }
      }
    }
    .nav-item .nav-link {
      padding: 6px;
    }

    .navbar .social-icon {
      margin-top: 22px;
    }
    .navbar-container {
      display: none;
      overflow: hidden;
      width: 100%;
      background-color: var(--dark-color-50);
      border-radius: 4px;
      .navbar-nav {
        flex-direction: column !important;
        padding-top: 1rem;
        .nav-item {
          padding-left: 0;
          padding-right: 0;

          .nav-link {
            padding: 0.5rem 1rem !important;
          }
        }

        .nav-item:hover {
          background-color: #302e2e;
        }
      }
      .nav-btn {
        width: 100%;
        text-align: left;
        background: var(--primary-color);
        border-radius: 0;
        color: var(--bs-white) !important;
      }
    }
  }
  .hero {
    min-height: 70vh;
  }

  .section {
    padding: 5rem 0;
  }

  .p-sm-0 {
    padding: 0 !important;
  }
  .site-footer {
    .social-icon {
      li {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.75em;
  }
  p {
    font-size: 1em;
  }

  .contact h2 span {
    display: block;
  }
}
