.content-wrapper {
  padding-top: 5rem;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  justify-content: space-between;

  .ads-section {
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    width: calc(100% - 700px);
    background: url("../images/form/register.jpg") no-repeat center;
    background-size: cover;
    overflow: hidden;

    &.lg {
      background-image: url("../images/form/login.jpg");
    }
  }
}

@media screen and (min-width: 900px) {
  .account-selection {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}

.account-type {
  margin: 1rem;
  border: 1px solid var(--bs-gray-300);
  text-align: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  font-size: 1em;
  padding: 1rem 0.5rem;
  text-decoration: none;
  line-height: 25px;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.05);
  transition: 200ms ease-in-out;
  // color: var(--dark-blue);
  background-color: var(--white-100);
  cursor: pointer;

  &:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }
  .text {
    margin: 0;
  }
  .bi {
    font-size: 1.5em;
    margin-bottom: 0.3rem;
  }
}

.content-wrapper .form-section .form-control {
  padding-right: 2rem;
}
.content-wrapper .form-section {
  max-width: 700px;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  overflow-y: auto;
}
.content-wrapper .form-section .container .title {
  font-weight: 600;
}
.content-wrapper .form-section .custom-form {
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 300ms ease;
  opacity: 0;
  height: 0;
  &.active {
    height: 100%;
    opacity: 1;
  }
}
.content-wrapper .form-section .container .form-group {
  margin-bottom: 2rem;
}
.content-wrapper .form-section .container .label {
  font-weight: 600;
}
.content-wrapper .form-section .container .form-group .form-row {
  position: relative;
}
.content-wrapper .form-section .container .form-group .form-row .attach-icon {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0;
  background-color: transparent;
}

@media screen and (max-width: 900px) {
  .content-wrapper .form-section {
    max-width: 100%;
  }

  .content-wrapper .ads-section {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .content-wrapper {
    height: auto;
    flex-direction: column;
  }
  .content-wrapper .ads-section {
    height: 50vh;
    width: 100%;
    display: flex;
  }
  .content-wrapper .form-section {
    border-radius: 20px 20px 0 0;
    margin-top: -2rem;
    background-color: var(--bs-white);
    overflow: visible;
    padding: 2rem 0;
    z-index: 5;
  }
}
